@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<br />
<br />
<br />
<br />
<h4>Add Room</h4>
<form id="addRoomForm">
    <div class="ui left icon input">
        <input type="text" placeholder="Room Number" name="roomNumber" id="roomNumber">
        <i class="users icon"></i>
    </div>
    <br />
    <br />
    <div class="ui left icon input">
        <input type="text" placeholder="Stage Number" name="stageNumber" id="stageNumber">
        <i class="users icon"></i>
    </div>
    <br />
    <br />
    <div class="ui left icon input">
        <input type="text" placeholder="Capacity" name="capacity" id="capacity">
        <i class="users icon"></i>
    </div>
    <br />
    <br />
    <div class="ui left icon input">
        <input type="text" placeholder="Daily Price" name="dailyPrice" id="dailyPrice">
        <i class="users icon"></i>
    </div>
    <br />
    <br />
    <button class="ui primary button" id="addRoomBtn">
        Save
    </button>
</form>