@model Sanatorium.Models.AdminViewModels.ManageAdminsViewModel
<br>
<br>
<br>
<div class="ui grid">
    <div class="eight wide column">
        <table class="ui celled striped table">
            <thead>
                <tr>
                    <th colspan="2">
                        Admins
                    </th>
                </tr>
            </thead>
            <tbody>
              @foreach (var admins in Model.Admins)
              {

                        <tr>
                  <td>@admins.UserName</td>
                 
                  <td class="collapsing">
@if (admins.UserName != User.Identity.Name)
                {
                      <button class="basic ui orange button">remove from role</button>
}
else {
                      <button class="basic ui orange button disabled">You</button>
}
                            </td>
                        </tr>

              }
            </tbody>
        </table>
    </div>
    <div class="eight wide column">
        <table class="ui celled striped table">
            <thead>
                <tr>
                    <th colspan="2">
                        Other Users
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var notAdmins in Model.NotAdmins)
                {
                        <tr>
                            <td>@notAdmins.UserName</td>

                            <td class="collapsing">
                                <button class="basic ui orange button setAsAdminBtn" user-id="@notAdmins.Id">Set As Admin</button>
                            </td>
                        </tr>
                    
                }
            </tbody>
        </table>
    </div>
</div>