@model Sanatorium.Models.AdminViewModels.ManageAdminsViewModel
<br>
<br>
<br>
@foreach (var admins in Model.Admins)
{
    <h1>@admins.Id</h1>
    <h2>@admins.UserName</h2>
}
@foreach (var notAdmins in Model.NotAdmins)
{
    <h1>@notAdmins.Id</h1>
    <h2>@notAdmins.UserName</h2>
}