@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<br />
<br />
<h1>Type your sql command</h1>
<div class="ui grid">
    <div class="sixteen wide column">
        <div class="ui massive icon input fluid">
            <input type="text" placeholder="Command..." id="query">
            <i class="database icon" ></i>
        </div>
        <br />
        <button class="ui basic button fluid" id="createQuery">create query</button>
    </div>
</div>
<div class="ui grid" id="sqlResult">
</div>