<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Sanatorium</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/css/site.css"/>
        <link href="~/lib/json-human/css/json.human.css" rel="stylesheet" />
        <link href="~/lib/semantic/dist/semantic.css" rel="stylesheet"/>
    </environment>
    <environment names="Staging,Production">
     
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true"/>
    </environment>
</head>
<body>
@*<div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Sanatorium</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                </ul>
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </div>
    </div>*@
<div class="ui sidebar vertical menu">
    <br />
    
    <div class="item">
       @if (User.IsInRole("NURSE"))
       {
           <a asp-controller="Nurse" asp-action="Index">Main</a>
       }
       else if (User.IsInRole("ADMIN"))
       {
        <a asp-controller="Admin" asp-action="Index">Main</a>
       }
    </div>
    @if (User.IsInRole("ADMIN"))
    {
   <div class="item">
       <a asp-controller="Admin" asp-action="ManageAdmins">Manage admins</a>
   </div>
    }
    @if (User.IsInRole("ADMIN"))
    {
        <div class="item">
            <a asp-controller="Admin" asp-action="ManageNurses">Manage nurses</a>
        </div>
    }
    @if (User.IsInRole("ADMIN"))
    {
        <div class="item">
            <a asp-controller="Admin" asp-action="Sql">Sql</a>
        </div>
    }
</div>
<div class="pusher">
    <div class="ui container">
        <div class="ui modal" id="downloadFormatModal">
            <i class="close icon"></i>
            <div class="header">
                Choose format of report
            </div>
            <div class="content">
                <form id="downloadFormat">
                    <div class="ui form">
                        <div class="field">
                            <label>Format</label>
                            <div class="ui selection dropdown">
                                <input type="hidden" name="format" id="fileFormat">
                                <i class="dropdown icon"></i>
                                <div class="default text">Format</div>
                                <div class="menu">
                                    <div class="item" data-value="html">HTML</div>
                                    <div class="item" data-value="doc">DOC</div>
                                    <div class="item" data-value="docx">DOCX</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="actions">
                <div class="ui  basic button cancel">Cancel</div>
                <div class="ui green basic button ok">Download</div>
            </div>
        </div>
        <br />
        <div class="ui grid fixed top menu" >
            
            <div class="six wide column" id="test"><h2><i class="content icon">Menu</i></h2>
            </div>
            <div class="four wide centered column">
                <h2>Sanatorium</h2>
            </div>
            <div class="six wide column">
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </div>
        @RenderBody()
        <hr/>
        <footer>
            <p>&copy; 2016 - Sanatorium</p>
        </footer>
    </div>
   
</div>

<environment names="Development">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/jquery.cookie/jquery.cookie.js"></script>
    <script src="~/lib/semantic/dist/semantic.js"></script>
    <script src="~/lib/Chart.js/dist/Chart.js"></script>
    <script src="~/lib/downloadjs/download.js"></script>
    <script src="~/lib/json-human/src/json.human.js"></script>
</environment>
<environment names="Staging,Production">
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery">
        
    </script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
</environment>

@RenderSection("scripts", false)
</body>
</html>