@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}
<br /><br />
<h2>@ViewData["Title"].</h2>

<form asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="ui form">
    <h4>Create a new account.</h4>
    <hr/>
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="field">
        <label>Email</label>
            <input asp-for="Email"/>
    </div>
    <div class="field">
        <label >Pasword</label>
            <input asp-for="Password"/>       
    </div>
    <div class="field">
        <label>Confirm Password</label>
            <input asp-for="ConfirmPassword" class="form-control"/>
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
   
            <button type="submit" class="ui button basic teal">Register</button>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}